div.wrapper {
    width: 100%;
    height: 100%;
}
/*Navigation Menu*/
ul#nav {
    margin: auto;
}
div.clear {
    display: none;
}
li.menu {
    display: block;
}
li.menu a {
    display: block;
}
li.menu:nth-child(2n+1),
li.menu:first-child,
li.menu:last-child,
li.menu:nth-child(2n) {
    width: 100%;
    border: 0;
    border-radius: 0;
}

