doctype html
html
    head
        meta(charset="UTF-8")
        title Book Lib
        link(rel="stylesheet" href="../css/style.css")
        script(src="../javascript/libs/jquery-2.1.4.min.js")
        script(src="../javascript/src/createBooksList.js")
        script(src="../javascript/src/itemActions.js")
    body
        header
            h1 Book Lib
        section#content
            table.bookList
                tr
                    th #
                    th Author
                    th Title
                    th Year
                    th Genre
                    th Action

