body {
    background-color: #f3f6fc;
    font: 1em 'Open Sans', sans-serif;
    color: #484848;
    margin: 0;
    padding: 0;
}
header {
    background-color: #a1c4d8;
    text-align: center;
    padding: 20px;
}
h1  {
    color: #f3f6fc;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}
table {
    background-color: #fff;
    margin: 60px auto;
    border-collapse: collapse;
    border-top: 2px solid #928292;
    box-shadow: 0 3px 12px rgba(0,0,0,.25);
}
td, th {
    padding: 6px 16px;
}
tr {
    border-bottom: 1px solid #928292;
}
td:last-child {
    text-align: center;
}
th {
    font-style: normal;
    text-align: center;
}
td a {
    font-style: normal;
    text-decoration: none;
}
td[contenteditable=true]:hover{
    background-color: #ececec;
}
tr:last-child td:first-child:hover,
tr:last-child td:last-child:hover{
    background-color: #fff;
}
img {
    padding: 2px;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
img.open {
    
    width: 18px;
    height: 18px;
    box-shadow: none;
}