<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Book Lib</title>
    <link rel="stylesheet" href="../stylesheet/style.css"/>
    <script src="../javascript/jquery-2.1.4.min.js"></script>
    <script src="../javascript/createCheckboxedList.js"></script>
    <script src="../javascript/checkAndUpdateBook.js"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <ul id="nav">
            <li class="menu"><a href="create.html"><span>C</span>reate</a></li>
            <li class="menu"><a href="read.html"><span>R</span>ead</a></li>
            <li class="menu"><a href="update.html"><span>U</span>pdate</a></li>
            <li class="menu"><a href=#><span>D</span>elete</a></li>
        </ul>
        <div class="clear"></div>
    </header>
    <p>List of Books:</p>
    <form class="bookWrapper">
        <fieldset id="selectItem">
        </fieldset>
        <button id="selectBook">Delete Book</button>
    </form>
    </div>
</body>
</html>